.bg-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 24px;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .card-container {
    max-width: 500px;
    padding: 64px;
  }
}

.heading-coins {
  font-size: 27px;
  font-family: 'Roboto';
  color: #a35200;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading-coins {
    font-size: 45px;
    margin-bottom: 8px;
  }
}

.toss-description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #334155;
  font-weight: 500;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .toss-description {
    font-size: 23px;
    margin-top: 16px;
  }
}

.image-toss {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .image-toss {
    height: 250px;
    width: 250px;
  }
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .count-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}

.count {
  margin-left: 24px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-right: 24px;
}
.button {
  background-color: #ffda6f;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .button {
    margin-top: 33px;
  }
}
